@import "../../styles/helper.scss";

.contactHeader {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: $contactHeaderHeight;
  z-index: 1000;
  border-bottom: 1px solid rgba(100%, 100%, 100%, 0.1);

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
  }

  &::before {
    top: 0;
    height: 30px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
  }

  &::after {
    bottom: 0;
    height: 40px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
  }
}

.backArrow {
  display: block;
  position: absolute;
  width: 12px;
  height: 21px;
  left: 13px;
  bottom: 42.5px;
}

.thumbnailMask,
.nameRow {
  position: absolute;
  left: 50%;
  transform: translateX( -50% );
}

.thumbnailMask {
  top: 38px;
  height: 47px;
  width: 47px;
  overflow: hidden;
  border-radius: 26px;
  margin-left: -3px;
}

.thumbnail {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  height: 100%;
  width: 100%;
}

.nameRow {
  bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  z-index: 1;
}

.name {
  font-size: 13px;
  line-height: 1;
  color: #fff;
  position: relative
}

.nameArrow {
  position: relative;
  display: block;
  top: 2px;
  width: 4.5px;
  height: 8px;
  margin-left: 4px;
}
